.s_menu {
    height: calc(100% - 65px);
}
.s_menu::-webkit-scrollbar {
    width: 0;
}

.ant-custom-theme-light .ant-layout-sider-children,
.ant-menu-light {
    background-color: #ffffff !important;
}
.ant-custom-theme-light {
    .s_menu {
        background-color: #ffffff !important;
    }
    .ant-menu,
    .ant-menu-inline,
    .ant-menu-sub,
    .ant-menu-item,
    .subMenu .ant-menu-submenu-title {
        background-color: #ffffff !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.ant-custom-theme-dark {
    .ant-menu-dark {
        &.s_menu {
            background-color: #002140 !important;
        }
        .ant-menu-item {
            background-color: #002140 !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            &.ant-menu-item-selected {
                background-color: rgba(43, 69, 93, 0.6) !important;
            }
        }

        .ant-menu-item > a,
        .ant-menu-submenu > a,
        .ant-menu-submenu > .ant-menu-submenu-title {
            color: rgba(255, 255, 255, 0.7) !important;
        }

        .ant-menu-item-active > a,
        .ant-menu-submenu-active > a,
        .ant-menu-submenu-selected,
        .ant-menu-submenu-active > .ant-menu-submenu-title,
        .ant-menu-submenu,
        .ant-menu-submenu-inlinee,
        .ant-menu-item-selected > a {
            color: rgba(255, 255, 255, 1) !important;
        }

        .ant-menu-inline,
        .ant-menu-submenu-title {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            background-color: #002140 !important;
        }
    }

    .ant-menu-inline-collapsed {
        width: 100%;
    }
}
